
.first-div
{
    width: 500px;
    height: 500px;
    background-color: darkcyan;
    border-width: 3px;
    border-color: rgb(5, 43, 30);
    border-radius: 20%;
    margin: 10px;
    padding: 5px;
}
#para1
{
    padding-left: 50px;
}