
.first-div
{
    width: 500px;
    height: 500px;
    background-color:cadetblue;
    border-width: 3px;
    border-color: rgb(1, 5, 4);
    border-radius: 20%;
    margin: 10px;
    padding: 5px;
}
#para1
{
    padding-left: 50px;
}

.normal-para
{
color: green;
margin-left: 100px;
padding-right: 200px;
}

#fav-para
{
    color: purple;
    margin-left: 100px;
    padding-right: 200x;
}

#name
{
    background-color:cadetblue;
    padding-left:20px;
    border-color: black;
    border: 50px;
}

#rollnumber
{
    background-color:cadetblue;
    padding-left:20px;
}

#subject
{
    background-color:cadetblue;
    padding-left:20px;
}

#title
{
    padding-left: 700px;
    background-color: peru;
}

#place
{
    padding-left: 100px;
}

#image1
{
    padding-left: 300px;
}